{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error -Invalid URL </title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<img src="{% static 'logo.png' %}" class="logo"/>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1>Error ! The url that you have entered is invalid.</h1>
            <a href="{% url 'url_shortner:home' %}">Homepage</a></div>
        <div class="col-sm-1"></div>
    </div>
</div>
</body>
</html>